/* style= {
        {
        -webkit-filter: dropShadow(4px 5px 3px rgb(0, 0, 0))!important;
        filter: drop-shadow(4px 5px 3px rgb(0, 0, 0));
        background-repeat: no-repeat;
        height: 140px;
        background-image: url(&quot;assets/img/html.png&quot;);
        background-position: center;
        background-size: contain;
        background-color: transparent
    }
}

style= {
        {
        -webkit-filter: dropShadow(4px 5px 3px rgb(0, 0, 0))!important;
        filter: drop-shadow(4px 5px 3px rgb(0, 0, 0));
        background-repeat: no-repeat;
        height: 140px;
        background-image: url(&quot;assets/img/html.png&quot;);
        background-position: center;
        background-size: contain;
        background-color: transparent
    }
} */